body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #3F3F3F;
}

header{
    display: flex;
    justify-content: center;
    gap: 20vh;
    padding-top: 4vh;
}

header button{
    border: none;
    background-color: red;
    padding: 0% 0% 0% 0%;
    cursor: pointer;
    width: 10vw;
    height: 10vh;
}

header button img{
    width: 10vw;
    height: 10vh;
}


.button{
    justify-content: center;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.button button{
    width: 50vh;
    margin: 2vh;
    border-radius: 14px;
    border: none;
    background-color: white;
}

.button .text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 4vh;
    text-align: center;
}

.button a{
    text-decoration: none;
    color: black;
}