{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Página inicial</title>
</head>

<body>

    <!--cabeçalho da Pagina-->
    <header>
        <button><a href="{% url 'homepage' %}"><img src="{%static 'media/images/home.svg'%}" alt=""></a></button>
        <button><img src="{%static 'media/images/help_receive.svg'%}" alt=""></button>
        <button><img src="{%static 'media/images/ask_support.svg'%}" alt=""></button>
    </header>
    <!--fim do Cabeçalho-->

    <!--primeiro seleção-->
    {% block header %}
    {% endblock header %}
    <!--fim seleção-->

</body>

</html>