{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <title>Página inicial</title>
</head>

<body>
    <!--primeiro seleção-->
    {% block header %}
    {% endblock header %}
    <!--fim seleção-->

    <!--Conteúdo da primeira página-->
    <header>
        <button><img src="{%static 'media/images/home.svg'%}" alt=""></button>
        <button><img src="{%static 'media/images/help_receive.svg'%}" alt=""></button>
        <button><img src="{%static 'media/images/ask_support.svg'%}" alt=""></button>
    </header>
    <!--Fim de conteúdo-->

</body>

</html>